branca==0.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
distlib==0.3.8
et-xmlfile==1.1.0
filelock==3.16.1
folium==0.17.0
idna==3.10
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.3
platformdirs==4.3.6
pyjokes==0.8.3
python-constraint==1.4.0
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==306
requests==2.32.3
scipy==1.14.1
six==1.16.0
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.26.6
xyzservices==2024.9.0
